<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>TweetArchiver3</title>
        <link rel="stylesheet" href="normalize.css">
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <div id="app">
            <div class="container">
                <form class="add" v-bind:class="addClass">
                    <label>Add</label><br>
                    <input type="text" placeholder="https://twitter.com/hajimepg/status/941695644128854017" v-model="add">
                    <button type="button" v-on:click="addTweet">Add</button>
                    <p v-if="addError.isError">{{ addError.message }}</p>
                </form>
                <form class="search">
                    <label>Search</label><br>
                    <input type="text" v-model="search">
                </form>
                <section class="tweets">
                    <article v-for="tweet in filteredTweets" class="tweet">
                        <div class="icon">
                            <img v-bind:src="tweet.iconFileName" width="48px" height="48px">
                        </div>
                        <div class="name">
                            <strong>{{ tweet.originalTweet.user.name }}</strong>
                            <span>@{{ tweet.originalTweet.user.screen_name }}</span>
                        </div>
                        <div v-html="tweet.autoLinkedText" class="text"></div>
                        <div class="time">{{ tweet.originalTweet.created_at }}</div>
                        <img v-for="m in tweet.media"
                            v-bind:src="m.fileName"
                            v-bind:height="m.displayHeight"
                            v-bind:width="m.displayWidth">
                    </article>
                </section>
                <button type="button" v-on:click="loadTweets">Load Tweets</button>
            </div>
        </div>
        <script src="bundle.js"></script>
    </body>
</html>
